/* ---------------------------------------------
CSS
--------------------------------------------- */

*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック Medium", sans-serif;
    word-break: break-all;
}

/* #wrapper {
    padding-top: 68px;
} */

a {
    color: black;
    text-decoration: none;
    transition: .3s;
}

a:link, a:visited, a:hover, a:active {
    color: black;
}

ul, li {
    list-style: none;
}

.section {
    height: auto;
    padding: 50px 0;
}

.section-title {
    font-family: 'Open sans', sans-serif;
    font-size: 30px;
}

.inner {
    height: auto;
    padding: 0 25px;
}

.section-title-area {
    text-align: center;
    margin-bottom: 40px;
}

.section-text {
    font-size: 15px;
}

.section-detail {
    display: flex;
}

/* ---------------------------------------------
固定ナビゲーションバー
--------------------------------------------- */

#nav {
    /* background-color: lightgreen; */
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 5px rgb(226, 226, 226);
    width: 100%;
    height: 68px;
    z-index: 100;
    transition: .3s;
    background-color: #fff;
}

#nav ul {
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 25px;
}

#nav li {
    /* background-color: pink; */
    font-family: 'Open sans', sans-serif;
    padding: 0 25px;
    font-size: 16px;
    letter-spacing: .05em;
}

#nav li a.line {
    padding-bottom: 5px;
    position: relative;
}

#nav li a.line::before {
    background: #08942b;
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform-origin: center top;
    transform: scaleX(0);
    transition: transform .3s;
}

#nav li a.line:hover::before {
    transform-origin: center top;
    transform: scaleX(1.1);
}

/* ---------------------------------------------
ヘッダー
--------------------------------------------- */

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    padding-top: 68px;
    background-color: aquamarine;
}

.header-name {
    font-family: "Open sans", sans-serif;
    font-size: 64px;
    line-height: 1;
    letter-spacing: .2em;
    color: black;
}

.header-port {
    font-family: "Open sans", sans-serif;
    font-size: 30px;
    line-height: 1;
    letter-spacing: .2em;
    color: black;
}

/* ---------------------------------------------
ABOUT
--------------------------------------------- */

#myName {
    font-size: 50px;
    font-weight: bold;
    margin-right: 10px;
}

/* ---------------------------------------------
WORKS
--------------------------------------------- */

#works {
    background-color: #f5f5f5;
}

/* ---------------------------------------------
CREATE
--------------------------------------------- */

.create-genre {
    font-family: "Open sans", sans-serif;
    font-size: 35px;
}

.section-detail {
    display: flex;
    flex-direction: column;
}

.section-detail .box {
    display: flex;
    width: 100%;
}

.section-detail .box .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.section-detail .box .media {
    flex-shrink: 0;
    width: 50%;
    height: 200px;
}

.section-detail .music-text {
    margin-bottom: 50px;
}

.slider {
    margin: 30px auto 0;
    max-width: 500px;
    width: 80%;
}

.slick-img img {
    height: auto;
    width: 100%;
}

.slider button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    padding: 0;
    border: none;
    background-color: transparent;
}

.slider button:focus {
    outline: none;
}


.slider button.arrow-common {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 5;
}

.slider button.arrow-prev {
    left: -8%;
    border-width: 15px 15px 15px 0;
    border-color: transparent #000000 transparent transparent;
}
.slider button.arrow-next {
    right: -8%;
    border-width: 15px 0 15px 15px;
    border-color: transparent transparent transparent #000000;
}

/* ---------------------------------------------
SKILL
--------------------------------------------- */

#skill {
    background-color: #f5f5f5;
}

/* ---------------------------------------------
Footer
--------------------------------------------- */

#footer {
    background-color: #1d1d1d;
}

#footer .inner {
    padding: 30px;
}

#footer .copyright {
    font-size: 10px;
    text-align: center;
    color: #8c8c8c;
}

/* ---------------------------------------------
縮小サイズ
--------------------------------------------- */

@media (max-width: 750px) {
    #nav {
        /* background-color: rgb(172, 144, 238); */
        height: 60px;
    }

    #nav ul {
        padding: 0 15px;
    }

    #nav li {
        font-size: 14px;
        padding: 0 15px;
    }

    .header-name {
        font-size: 40px;
    }

    .header-port {
        font-size: 20px;
    }

    #myName {
        font-size: 30px;
        font-weight: bold;
        margin-right: 10px;
    }

    .section-detail .box {
        flex-direction: column;
    }

    .section-detail .box .desc {
        width: 100%;
    }
    
    .section-detail .box .media {
        width: 100%;
    }
}